body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.parallax {
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg01 {
  background-image: url('https://images.pexels.com/photos/219000/pexels-photo-219000.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
}

.bg02 {
  background-image: url('https://images4.alphacoders.com/289/thumb-1920-289526.jpg');
}

.bg03 {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShBn7Q8wRQ_eov5-1C8EEiCB0x4CfdX4yjP3LZdhqx93YcN-dC');
}
.info {
   height: 1000px;
   background-color: hotpink;
   font-size: 36px;
   text-align: center;
   /* vertical-align: middle; */
}
h1, h2, p { margin: 0;}
