body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
  font-family: inherit;
}

.bg-1, .bg-2, .bg-3, .bg-4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-1 {
  background-image: url("https://images.pexels.com/photos/219000/pexels-photo-219000.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb");
  min-height: 100%;
}

.bg-2 {
  background-image: url('https://i.ytimg.com/vi/7hgI7spOMAQ/maxresdefault.jpg');
  min-height: 100%;
  opacity: 0.8;
}

.bg-3 {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Kiyomizu.jpg/1200px-Kiyomizu.jpg');
  min-height: 100%;
  opacity: 0.8;
}
.bg-4 {
  background-image: url('https://i.ytimg.com/vi/isFSqYWc9og/maxresdefault.jpg');
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.border {
  padding: 18px;
  letter-spacing: 10px;
  font-size: 25px;
  font-weight: bold;
}

.border-part-1 {
  display: block;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 50%, rgba(0,0,0,0));
  color: #fff;
}

.border-part-2 {
  background-color:transparent;
  color: #f7f7f7;
}

/* colour block text */

.info {
  text-align:center;
  padding:50px 60px;
  text-align: justify;
}

.info h3 {
  text-align:center;
  letter-spacing: 3px;
  font: 20px sans-serif;
  color: #111;
}

.info p {
  font: 18px sans-serif;
  line-height: 150%;
}

.info-part-1 {
  color: black;
  background-color: #F1948A;
}

.info-part-2 {
  color: black;
  background-color: #F9E79F;
}

.info-part-3 {
  color: black;
  background-color: #A9DFBF;
}

.info-footer {
  text-align:right;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 5px 0px;
}

h5 {
  margin-right: 20px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  text-transform: uppercase ;
}

.links {
  margin-right: 20px;
  font-size: 20px;
}

.links a {
  text-decoration: none;
  color: white !important;
}

/* Nav */

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px whitesmoke solid;
}

.topnav .nav-brand span{
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px

}

.topnav .nav-links a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 2px
}
.topnav .nav-links a:hover {
    color: black;
}

.topnav .nav-links a.active {
    font-weight: bolder;
    color: white;
}

/* Intro */

.intro-container{
  margin-top: 20px;
  width: 100%;
  display: flex;
}
.intro-container .intro-content {
  width: 90%;
}
.intro-container .intro-icons {
  width: 10%;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon {
  -webkit-transition: width 2s, height 2s, -webkit-transform 1s;
  transition: width 2s, height 2s, transform 1s;
  cursor: pointer;
}
.icon:hover {
  width: 1.5em;
  height: 1.5em;
  -webkit-transform: rotate(360deg); /* Safari */
  transform: rotate(360deg);
}

.intro-blocks {
  position: relative;
  display: inline-block;
}
.intro-blocks p {
  font-size: 0.5em;
  margin: 0;
}

#intro-time #tooltip-time,
#intro-access #tooltip-access,
#intro-fee #tooltip-fee
 {
  visibility: hidden;
  width: 600px;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 100%;
}

#intro-time:hover #tooltip-time,
#intro-access:hover #tooltip-access,
#intro-fee:hover #tooltip-fee
 {
  visibility: visible;
}



/* https://kyoto.travel/en/shrine_temple/180 */
