body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
  font-family: inherit;
}

/* main */

.bg-stay {
  background-image: url("images/stay-bg.png");
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.heading {
  padding: 18px;
  letter-spacing: 10px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 50%, rgba(0,0,0,0));
  color: #fff;
}


/* Nav */

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px whitesmoke solid;
}

.topnav .nav-brand span{
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  letter-spacing: 2px

}

.topnav .nav-links a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 1px;
}
.topnav .nav-links a:hover {
    color: black;
}

.topnav .nav-links a.active {
    text-transform: uppercase;
    color: white;
    font-size: 1.2em;
}


/* Footer */

footer {
  text-align:right;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 15px 0px;
}

footer span {
  margin-right: 20px;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.links {
  margin-right: 20px;
}

.links a {
  text-decoration: none;
  font-size: 1.5em;
  color: white !important;
}



/* https://kyoto.travel/en/shrine_temple/180 */
